Context:
{% for part in context_parts %}
[{{ part.index }}] {{ part.text }}
{% endfor %}

Question: What is the capital of France?
Answer: Paris

Question: What is the traditional dress of Japan called?
Answer: Kimono

Question: {{ query }}
Answer: