{% if context_parts %}
Context:
{% for part in context_parts %}
{{ part }}
{% endfor %}

{% endif %}
Question: What is the capital of France?
Options:
A. London
B. Paris
C. Berlin
D. Madrid
Answer: Paris

Question: Which instrument is traditional in Japanese music?
Options:
A. Guitar
B. Piano
C. Koto
D. Violin
Answer: Koto

Question: {{ question }}
Options:
{% for key, value in options.items() %}
{{ key }}. {{ value }}
{% endfor %}
Answer:
