Context:
{% for part in context_parts %}
[{{ part.index }}] {{ part.text }}
{% endfor %}

Question: What is the capital of France?
Options:
A. London
B. Paris
C. Berlin
D. Madrid
Answer: B

Question: Which instrument is traditional in Japanese music?
Options:
A. Guitar
B. Piano
C. Koto
D. Violin
Answer: C

Question: {{ query }}
Options:
{% for key, value in options.items() %}
{{ key }}. {{ value }}
{% endfor %}
Answer:
